html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,*::before,*::after{
    box-sizing: inherit;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,li,p{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-size: inherit;
}
h1,h2{
    font-size: 59px;
    line-height: 141.4%;
    @extend  %gothampro-bold;
}
body{
    min-width: 320px;
    overflow-x: visible;
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;

}

.container{
    max-width: 1220px;
    padding: 0 15px;
    margin: 0 auto;
}


