@import "fonts";
.order{
    max-width: 1235px;
    margin: 130px auto;
    &__inner {
        //max-width: 1000px;
       
        //margin: 0 auto;
        color: #372821;
        box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.07);
      }
      &__title {
        @extend %gothampro-bold;
        padding-left: 150px;
        // text-align: center;
        font-size: calc(30px + (45 - 30) * ((100vw - 375px) / (1600 - 375)));
        line-height: calc(40px + (56 - 40) * ((100vw - 375px) / (1600 - 375)));
        margin-bottom: 55px;
      }
      &__form-group{
        font-size: 20px;
        line-height: 142.9%;
        color: #372821;
        font-family: "Montserrat", sans-serif;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 282px;
      }
}