@font-face{
    font-family: 'GothamPro-Bold', sans-serif;
    src:url('../fonts/GothamPro/GothamPro-Bold.ttf')format('ttf'),
        url('../fonts/GothamPro/GothamPro-Bold.woff')format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'GothamPro-Medium', sans-serif;
    src:url('../fonts/GothamPro/GothamPro-Medium.ttf')format('ttf'),
        url('../fonts/GothamPro/GothamProNarrow-Medium.woff')format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}